$primary-color: #0b1e5e;
$secondary-color: #4583c2;
$primary-font: 'Open Sans', sans-serif;
$headers-font: 'Slabo 27px', serif;

html, body {
  height: 100%;
  font-family: $primary-font;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

.mainscreen-main {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  h2 {
    color: $primary-color;
    font-weight: bold;
    font-family: $headers-font;
  }
  .main-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    text-transform: uppercase;
  }
  select {
    font-size: 1.5em;
  }
}

.sidebar-main {
  background-color: #DDD;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  border-right: 1px solid silver;
  h3 {
    text-transform: uppercase;
    margin-top: 25px;
    font-family: $headers-font;
    font-weight: 800;
  }
  h4 {
    font-family: $headers-font;
    font-weight: 800;

  }
}

.sources {
  list-style-type: none;
  margin-left: -25px;
  .sourcesLink {
    color: $primary-color;
    cursor: pointer;
    font-weight: bold;
  }
  .sourcesLink:hover, .sourcesLink:focus {
    color: $secondary-color;
    margin-left: 2px;
  }
}

.sourceGroup {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.navbar {
  margin-bottom: 0;
  .navbar-form {
    margin-right: 5px;
  }
  .nav.navbar-right {
    margin-bottom: -2px;
  }
  .user-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 7px;
  }
  .dropdown-toggle {
    margin: -6px;
  }
  .nav-form-div {
    float: right;
  }
}


article.article {
  margin-top: 20px;
  min-height: 350px;
  .preview {
    height: 150px;
    overflow: hidden;
    margin: 0;
  }
  h4 {
    font-weight: 500;
    color: $primary-color;
    text-transform: uppercase;
    margin: 10px;
  }
  p {
    color: black;
    margin: 10px;
  }
}

article.article:hover {
  background-color: $secondary-color;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

.searched-sources {
    position: absolute;
    top: 100%;
    z-index: 9999999;
  .sources {
    display: block;
    padding: 2px 20px 2px 20px;
    background-color: #DDD;
    width: 166px;
  }
}

.login-page {
  background: $secondary-color;
  color: white;
  height: 100vh;
  .brand {
    font-family: 'Averia Sans Libre', cursive;
  }
  .content {
    margin: 15% auto;
    width: 65%;
    @media (max-width: 767px){
      width: 90%;
    }
    .headline {
      line-height: 1.5em;
    }
  }
}

.drawer {
  padding: 15px;
  h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-family: $headers-font;
  }
}

footer {
  background: #1a1a1a;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    color: white;
  }
}

