@import '../../public/stylesheets/style';
$primary-color: #0b1e5e;
$secondary-color: #4583c2;

html, body {
  height: 100%;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

.mainscreen-main {
  max-height: calc(100vh - 61px);
  overflow-y: scroll;
  h2 {
    color: $primary-color;
    font-weight: 500;
  }
  .main-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    text-transform: uppercase;
  }
  select {
    font-size: 1.5em;
  }
}

.sidebar-main {
  background-color: #DDD;
  max-height: calc(100vh - 61px);
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  border-right: 1px solid silver;
  h4 {
    text-transform: uppercase;
    margin-top: 28px;
  }
}

.sources {
  list-style-type: none;
  margin-left: -25px;
  .sourcesLink {
    color: $primary-color;
    cursor: pointer;
    font-weight: bold;
  }
  .sourcesLink:hover, .sourcesLink:focus {
    color: $secondary-color;
    margin-left: 2px;
  }
}

.sourceGroup {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.navbar {
  margin-bottom: 0;
  .navbar-form {
    margin-right: 5px;
  }
  .nav.navbar-right {
    margin-bottom: -2px;
  }
  .user-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 7px;
  }
  .dropdown-toggle {
    margin: -6px;
  }
  .nav-form-div {
    float: right;
  }
}


article.article {
  margin-top: 20px;
  padding: 10px;
  height: 450px;
  h4 {
    font-weight: 500;
    color: $primary-color;
    text-transform: uppercase;
  }
  p {
    color: black;
  }
}

article.article:hover {
  background-color: $primary-color;
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

.searched-sources {
    position: absolute;
    top: 100%;
    z-index: 9999999;
  .sources {
    display: block;
    padding: 2px 20px 2px 20px;
    background-color: #DDD;
    width: 166px;
  }
}

.login-page {
  background: $secondary-color;
  color: white;
  height: 100vh;
  .brand {
    font-family: 'Averia Sans Libre', cursive;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .headline {
      font-family: 'Raleway,Helvetica Neue,Helvetica,Arial', sans-serif;
      line-height: 1.5em;
    }
  }
}

